@use './colors/light' as light;
@use './colors/dark' as dark;

$color-primary              : light-dark(light.$color-primary, dark.$color-primary);
$color-primary-light        : light-dark(light.$color-primary-light, dark.$color-primary-light);
$color-primary-dark         : light-dark(light.$color-primary-dark, dark.$color-primary-dark);
$color-primary-darker       : light-dark(light.$color-primary-darker, dark.$color-primary-darker);
$color-primary-darkest      : light-dark(light.$color-primary-darkest, dark.$color-primary-darkest);

$color-on-primary           : light-dark(light.$color-on-primary, dark.$color-on-primary);

$color-secondary            : light-dark(light.$color-secondary, dark.$color-secondary);
$color-secondary-light      : light-dark(light.$color-secondary-light, dark.$color-secondary-light);

$color-on-secondary         : light-dark(light.$color-on-secondary, dark.$color-on-secondary);

$color-surface              : light-dark(light.$color-surface, dark.$color-surface);

$color-on-surface           : light-dark(light.$color-on-surface, dark.$color-on-surface);

$color-background           : light-dark(light.$color-background, dark.$color-background);

$color-success              : light-dark(light.$color-success, dark.$color-success);
$color-danger               : light-dark(light.$color-danger, dark.$color-danger);
$color-caution              : light-dark(light.$color-caution, dark.$color-caution);

$color-scripts-bg           : light-dark(light.$color-scripts-bg, dark.$color-scripts-bg);
$color-highlight            : light-dark(light.$color-highlight, dark.$color-highlight);
$color-modal-background     : light-dark(light.$color-modal-background, dark.$color-modal-background);
$color-modal-shadow         : light-dark(light.$color-modal-shadow, dark.$color-modal-shadow);
$color-code-highlight       : light-dark(light.$color-code-highlight, dark.$color-code-highlight);
